version: "3.8"

services:
# Zookeeper service for Kafka
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
# Kafka service
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_INTERNAL://0.0.0.0:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
# PostgreSQL service for data warehouse
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: warehouse_user
      POSTGRES_PASSWORD: warehouse_password
      POSTGRES_DB: payments_dw
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
# Apache Spark Master and Worker services
  spark-master:
    build: .
    image: custom-spark-with-jdbc:latest
    container_name: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./spark:/opt/spark-apps
      - ./spark_data:/opt/spark-data
      - ivy_cache:/home/spark/.ivy2
# Apache Spark Worker
  spark-worker:
    build: .
    image: custom-spark-with-jdbc:latest
    container_name: spark-worker            
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    volumes:
      - ./spark:/opt/spark-apps
      - spark_data:/opt/spark-data
# Apache Airflow service
  airflow-db:
    image: postgres:15
    container_name: airflow-db
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - airflow_db:/var/lib/postgresql/data
# Apache Airflow service
  airflow:
    image: apache/airflow:2.9.2
    container_name: airflow
    depends_on:
      - airflow-db
      - spark-master
      - postgres
    ports:
      - "8088:8080"
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-db:5432/airflow
      AIRFLOW__CORE__FERNET_KEY: "THIS_IS_A_DEMO_FERNET_KEY_123456"
      AIRFLOW__WEBSERVER__SECRET_KEY: "THIS_IS_A_SECRET_KEY"
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__WEBSERVER__WEB_SERVER_PORT: 8080  # ADD THIS LINE
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins

      - /var/lib/docker:/var/lib/docker  # Mount Docker socket for Spark operator
      - /var/run/docker.sock:/var/run/docker.sock
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create \
        --username admin \
        --firstname Admin \
        --lastname User \
        --role Admin \
        --email admin@example.com \
        --password admin &&
      airflow scheduler &
      airflow webserver
      "
# Define named volumes
volumes:
  postgres_data:
  airflow_db:
  spark_data:
  ivy_cache: